.weather-app {
    
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #222; /* Dark background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    text-align: center;
    color: #fff; /* White text */
  }
  
  .search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
    color: #fff; /* White text */
  }
  
  button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #5d5d5d;
    color: #fff; /* White text */
  }
  
  .loading,
  .error {
    text-align: center;
    color: #FF5733;
    margin-bottom: 20px;
  }
  
  .weather-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: center;
    color: #fff; /* White text */
    align-items: center;
  }
  
  .weather-info img {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin: 10px auto;
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .search-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
    }
  
    .weather-info {
      grid-template-columns: 1fr;
    }
  }
  

.forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .forecast {
        flex-direction: column;
        align-items: stretch;
    }
}


.hr {
    border: none;
    border-top: 1px solid #ffffff26; /* White border */
    margin: 20px 0; /* Adjust as needed */
}
